* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 200vh; /* écran complet */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pexels-gonzalo-acuna-166058093-10923061.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

/* CONTENEUR PRINCIPAL */
.main {
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* LOGO */
.logo {
    font-size: 1.8em;
    color: blue;
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
}

/* DATE */
.i {
    margin-top: 20px;
    font-size: 1.2em;
}

/* SCORE */
.p {
    margin-top: 15px;
    font-size: 1.5em;
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
}

/* JOUEURS */
.players {
    margin-top: 20px;
}

.players p {
    font-size: 1.2em;
    margin: 5px 0;
}
.slogan {
    margin-top: 25px;
    font-size: 1.4em;
    color: white;
    font-weight: bold;
}
.slogan {
   color: rgb(255, 51, 0);
    bottom: 100px;
    width: 100%;
    left: 0;
}

/* 🎨 Couleurs différentes */
.players p:nth-child(1) { color:rgb(0, 255, 55); }
.players p:nth-child(2) { color:rgb(0, 255, 13); }
.players p:nth-child(3) { color:rgb(0, 255, 76); }
.players p:nth-child(4) { color:rgb(0, 255, 0); }
.players p:nth-child(5) { color: rgb(0, 255, 42); }
.players p:nth-child(6) { color: rgb(30, 255, 0); }
.players p:nth-child(7) { color:  rgb(43, 255, 0); }
.players p:nth-child(8) { color: rgb(0, 255, 21); }
.players p:nth-child(9) { color:rgb(0, 255, 21);; }

/* 📱 Responsive */
@media (min-width: 700px) {
    .logo {
        font-size: 3em;
    }

    .p {
        font-size: 10em;
    }

    .players p {
        font-size: 3.4em;
    }
}