* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh; /* écran complet */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pexels-i-brahim-halil-degerli-3906062-12343288.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

/* CONTENEUR PRINCIPAL */
.main {
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* LOGO */
.logo {
    font-size: 1.8em;
    color: blue;
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
}

/* DATE */
.i {
    margin-top: 20px;
    font-size: 1.2em;
}

/* SCORE */
.p {
    margin-top: 15px;
    font-size: 1.5em;
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
}

/* JOUEURS */
.players {
    margin-top: 20px;
}

.players p {
    font-size: 1.2em;
    margin: 5px 0;
}
.slogan {
    margin-top: 25px;
    font-size: 1.4em;
    color: white;
    font-weight: bold;
}
.slogan {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}

/* 🎨 Couleurs différentes */
.players p:nth-child(1) { color:cyan; }
.players p:nth-child(2) { color:cyan; }
.players p:nth-child(3) { color:cyan; }
.players p:nth-child(4) { color:cyan; }
.players p:nth-child(5) { color: cyan; }
.players p:nth-child(6) { color: cyan; }
.players p:nth-child(7) { color:  cyan; }
.players p:nth-child(8) { color: cyan; }

/* 📱 Responsive */
@media (min-width: 768px) {
    .logo {
        font-size: 3em;
    }

    .p {
        font-size: 2em;
    }

    .players p {
        font-size: 1.4em;
    }
}